body {
  width: 75%;
  outline: 0;
  margin: 0 auto;
  padding: 0 8px;
  list-style: none;
  overflow-y: auto;
  max-width: 1200px;
  overflow-x: hidden;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  font-family: "Roboto Slab", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}
